<md-dialog class="md-primary" style="min-width: 700px;overflow: hidden;" md-theme="darkTheme">
    <md-card style="margin:0;" layout="column" layout-align="start stretch">
        <md-toolbar>
            <md-card-header class="uv-card-header" layout="row" layout-align="start center">
                <span>文件部署</span>
                <span flex></span>
                <md-button aria-label="button" style="background-color: transparent;box-shadow: none;"
                           ng-click="closeDeployFileDialog()"
                           class="md-fab md-mini" ng-disabled="deploying==1||restarting==1">
                    <md-icon md-svg-icon="close" class="md-mini"></md-icon>
                </md-button>
            </md-card-header>
        </md-toolbar>
        <md-content style="overflow: scroll;">
            <table class="table table-striped table-condensed">
                <thead>
                <th>#</th>
                <th>文件</th>
                <th>文件部署路径</th>
                <th>版本</th>
                </thead>

                <tr ng-repeat="f in files"
                    ng-class="f.deployOK == 1?'success':''">
                    <td>{{f.file_id}}</td>
                    <td>{{f.file_path_name}}</td>
                    <td>{{f.ft_deploy_path || f.ft_folder}}</td>
                    <td>{{f.max_version || f.version}}</td>
                </tr>
            </table>
        </md-content>

        <md-card-content layout="row" layout-align="start center" flex="initial" style="min-height: 50px;height: 50px;">
            <md-select ng-model="deployInstance" ng-disabled="deploying==1||deploying==2||restarting==1"
                       style="width: 220px;margin-right: 10px;" placeholder="选择部署实例">
                <md-option ng-value="di" ng-repeat="di in deployInstances">{{di.di_name}}@{{di.server_ip}}</md-option>
            </md-select>
            <md-checkbox style="margin-top: 20px;" ng-disabled="deploying==1||deploying==2||restarting==1"
                         ng-model="autoRestart">
                自动重启实例
            </md-checkbox>
            <span flex></span>
            <md-button aria-label="button" ng-show="deploying!=2" class="md-primary md-raised" ng-click="deploy()"
                       ng-disabled="deploying==1">
                {{deploying==3?'重新部署':'开始部署'}}
            </md-button>
            <md-button aria-label="button" ng-show="deploying==2" ng-disabled="restarting==1"
                       class="md-primary md-raised"
                       ng-click="restartDeployInstance()">
                重启实例
            </md-button>
            <md-button aria-label="button" ng-show="deploying==2" ng-disabled="restarting==1"
                       class="md-primary md-raised"
                       ng-click="closeDeployFileDialog()">
                关闭
            </md-button>
        </md-card-content>

        <md-card-content
                style="font-size: 12px;line-height: 24px;height: 24px;min-height: 24px;padding: 0 16px;background-color: #ddd;"
                layout="row" ng-show="deployStatus" layout="start center">
            <md-divider></md-divider>
            {{deployStatus}}
        </md-card-content>
    </md-card>
</md-dialog>