<md-dialog style="min-width: 800px;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="margin-left: 10px;">[{{file.file_path_name}}]文件历史版本</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <table class="table table-condensed table-striped">
                <thead>
                <th>#</th>
                <th>文件类型</th>
                <th>文件</th>
                <th>版本</th>
                <th>创建时间</th>
                <th>创建人</th>
                <th>
                    <md-icon class="md-mini" md-svg-icon="cogwheel"></md-icon>
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="f in files">
                    <td>{{f.file_id}}</td>
                    <td>{{ftJSON[f.ft_id].ft_name}}</td>
                    <td>{{f.file_path_name}}</td>
                    <td><span class="btn btn-xs btn-default" disabled>{{f.version}}</span></td>
                    <td>{{f.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{f.login_no}}-{{f.login_name}}</td>
                    <td>
                        <md-icon class="md-mini text-primary" ng-click="fileDownload(f.file_id, f.version)"
                                 md-svg-icon="download" style="cursor: pointer;"></md-icon>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>
            <md-button ng-click="cancel()" aria-label="cancel" style="margin-right:20px;">
                关闭
            </md-button>
        </md-dialog-actions>
    </md-dialog>