md-toolbar, md-toolbar .md-toolbar-tools {
  min-height: 55px !important;
  height: 55px !important;
  max-height: 55px !important;
  font-size: 18px !important; }

md-card > md-card-header.uv-header, md-card > md-card-header.uv-card-header {
  background-color: rgba(222, 222, 222, 0.7);
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  font-weight: normal; }

md-card.active {
  background-color: #ff8c00; }

md-card {
  position: relative; }

md-card > md-card-title {
  padding: 0 16px !important; }

md-card > md-card-title.uv-card-title {
  background-color: rgba(2, 2, 2, 0.7);
  display: none;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #eee;
  padding: 5px !important;
  box-sizing: border-box; }

md-card > img {
  margin: 0; }

md-card:hover > md-card-title.uv-card-title {
  display: flex; }

md-card > md-card-title.uv-card-title.active {
  display: flex; }

.font-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

md-icon.md-mini {
  min-height: 14px !important;
  min-width: 14px !important;
  height: 14px !important;
  width: 14px !important; }

md-chips.md-mini > .md-chips {
  font-size: 13px;
  padding: 0 0 8px 3px; }
  md-chips.md-mini > .md-chips md-chip {
    height: 20px;
    line-height: 20px;
    margin: 3px;
    padding-right: 13px !important; }
    md-chips.md-mini > .md-chips md-chip ._md-chip-remove, md-chips.md-mini > .md-chips md-chip button {
      height: 20px;
      width: 20px;
      line-height: 20px; }
    md-chips.md-mini > .md-chips md-chip button {
      padding: 0;
      vertical-align: top;
      border-radius: 1px; }
    md-chips.md-mini > .md-chips md-chip md-icon {
      min-height: 16px !important;
      min-width: 16px !important;
      height: 16px !important;
      width: 16px !important; }
  md-chips.md-mini > .md-chips ._md-chip-input-container {
    margin: 3px;
    height: 20px; }
    md-chips.md-mini > .md-chips ._md-chip-input-container md-autocomplete-wrap, md-chips.md-mini > .md-chips ._md-chip-input-container input {
      height: 20px; }

* {
  outline: none !important; }

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.top-down {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .top-down.ng-enter {
    opacity: 0;
    top: -100vh; }
  .top-down.ng-enter-active {
    opacity: 1;
    top: 0; }
  .top-down.ng-leave {
    top: 0;
    opacity: 1; }
  .top-down.ng-leave-active {
    opacity: 0;
    top: -100vh; }
  .top-down.ng-hide-add {
    opacity: 1;
    top: 0; }
  .top-down.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    top: -100vh; }
  .top-down.ng-hide-remove {
    display: block !important;
    opacity: 0;
    top: -100vh; }
  .top-down.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    top: 0; }

/*# sourceMappingURL=index.css.map */
