<md-content layout="row" layout-align="left start" style="flex-wrap: wrap;" flex>
    <md-card ng-repeat="s in servers" style="height: 160px;width: 250px;">
        <md-card-header class="uv-card-header" layout="row">
            <span>{{s.server_name}}</span>
            <span flex></span>
            <span style="cursor: pointer;" ng-click="defServer($event,s)">
                <md-icon md-svg-icon="draw" class="md-mini"></md-icon>
            </span>
        </md-card-header>
        <md-card-content style="font-size: 12px;overflow: scroll;" flex>
            <p>IP:{{s.server_ip}}</p>
            <i>
                {{s.server_desc}}
            </i>
        </md-card-content>
        <md-card-content style="height: 48px;padding:0;float: right;">
            <md-button>部署详情</md-button>
        </md-card-content>
    </md-card>
    <md-card style="height: 160px;width: 250px;cursor: pointer;" ng-click="defServer($event)" layout="column"
             ng-if="currentLoginUser.role_id == 0"
             layout-align="center center">
        <md-icon md-svg-icon="plus" style="color:#ddd;margin:50px;"></md-icon>
        <md-tooltip md-delay="1000">添加新主机</md-tooltip>
    </md-card>
</md-content>
<script type="text/ng-template" id="add_server_template">
    <md-dialog aria-label="Mango (Fruit)" style="width:500px;">
        <form name="serverForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 style="margin-left: 20px;">主机添加</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content" layout="column">
                    <md-input-container>
                        <label>主机名称</label>
                        <input type="text" required name="server_name" ng-model="server.server_name" flex>
                        <div ng-messages="serverForm.server_name.$error" ng-show="serverForm.server_name.$dirty">
                            <div ng-message="required">请输入主机名称</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>主机IP</label>
                        <input type="text" required name="server_ip" ng-model="server.server_ip" flex>
                        <div ng-messages="serverForm.server_ip.$error" ng-show="serverForm.server_ip.$dirty">
                            <div ng-message="required">请输入主机IP</div>
                        </div>
                    </md-input-container>
                    <div layout="row">
                        <md-input-container flex>
                            <label>主机用户名</label>
                            <input type="text" name="server_user" ng-model="server.server_user" flex>
                        </md-input-container>
                        <md-input-container flex>
                            <label>主机口令</label>
                            <input type="text" name="server_password" ng-model="server.server_password" flex>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>主机FTP用户名</label>
                            <input type="text" name="server_ftp_user" ng-model="server.server_ftp_user" flex>
                        </md-input-container>
                        <md-input-container flex>
                            <label>主机FTP口令</label>
                            <input type="text" name="server_ftp_password" ng-model="server.server_ftp_password"
                                   flex>
                        </md-input-container>
                    </div>

                    <md-input-container>
                        <label>主机描述</label>
                        <textarea type="text" name="server_desc" ng-model="server.server_desc" cols="100"
                                  rows="3"></textarea>
                    </md-input-container>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="cancel()" aria-label="cancel">
                    取消
                </md-button>
                <md-button ng-click="confirm()" ng-disabled="serverForm.$invalid" style="margin-right:20px;"
                           aria-label="confirm" class="md-raised md-primary">
                    确定
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>